!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        %link{:rel => "shortcut icon", :href => "/favicon.ico"}
        %link{:rel => "stylesheet", :href => "css/base.css"}
        %link{:rel => "stylesheet", :href => "css/yui-grid.css"}

        %link{:rel => "stylesheet", :href => "css/screen.css", :media => "screen, projection"}
        %link{:rel => "stylesheet", :href => "css/print.css", :media => "print" }
        /[if IE]
            %link{:rel => "stylesheet", :href => "css/ie.css", :media => "screen, projection"}


    %body
        .grid-r
            .grid-c-1
                %h1.h-title Extra Popcorn
        .grid-r
            .grid-c-1
                %p.h-desc Social Movie Reviews!

        .grid-r
            .grid-c-1
                %h2.m-title Movie Title
                %time.m-release 2008-05-02
                %span.m-rating 8.5

        .grid-r
            .grid-c-1-3
                This content is on the first one third of the page
            .grid-c-1-3
                This content is on the second third of the page
            .grid-c-1-3
                This content is on the third third of the page


