/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

/*
    Colors
    d = dark
    m = medium
    l = light

$d_brown: #654618
$m_brown: #AB7628
$l_brown: #C98B2F

$d_maroon: #401E14
$m_maroon: #6A3120
$l_maroon: #803C27

$d_orange: #633310
$m_orange: #A7561B
$l_orange: #C56520

/*
    Avoid CSS box-model problems

=m_border_top($top)
    border: $top 0 0 0

=m_border_right($right)
    border: 0 $right 0 0

=m_border_bottom($bottom)
    border: 0 0 $bottom 0

=m_border_left($left)
    border: 0 0 0 $left

=m_border($top:0, $right:0, $bottom:0, $left:0)
    border: $top $right $bottom $left

=m_padding_top($top)
    border: $top 0 0 0

=m_padding_right($right)
    border: 0 $right 0 0

=m_padding_bottom($bottom)
    border: 0 0 $bottom 0

=m_padding_left($left)
    border: 0 0 0 $left

=m_padding($top:0, $right:0, $bottom:0, $left:0)
    padding: $top $right $bottom $left

/* Custom Styling

body
    background: $d_orange

.grid-r
    background: $m_orange

.h-title
    background: $l_orange

.m-container
    background: $d_orange

.m-title
    background: $m_orange

.m-release,
.m-rating
    background: $l_orange