/*
YUI based custom grid system via http://yui.github.com/gridbuilder/
.grid-c         Shrinks to fit unless a width is applied.
.grid-c-1       Fills 100% of the available width.
.grid-c-1-2     Fills 1/2 of available width.
.grid-c-1-3     Fills 1/3 of available width.
.grid-c-2-3     Fills 2/3 of available width.
.grid-c-1-4     Fills 1/4 of available width.
.grid-c-3-4     Fills 3/4 of available width.
.grid-c-1-5     Fills 1/5 of available width.
.grid-c-2-5     Fills 2/5 of available width.
.grid-c-3-5     Fills 3/5 of available width.
.grid-c-4-5     Fills 4/5 of available width.
.grid-c-1-6     Fills 1/6 of available width.
.grid-c-5-6     Fills 5/6 of available width.
.grid-c-1-8     Fills 1/8 of available width.
.grid-c-3-8     Fills 3/8 of available width.
.grid-c-5-8     Fills 5/8 of available width.
.grid-c-7-8     Fills 7/8 of available width.
.grid-c-1-12    Fills 1/12 of available width.
.grid-c-5-12    Fills 5/12 of available width.
.grid-c-7-12    Fills 7/12 of available width.
.grid-c-11-12   Fills 11/12 of available width.
*/
.grid-r { letter-spacing: -0.31em; *letter-spacing: normal; word-spacing: -0.43em; } .grid-c { display: inline-block; zoom: 1; *display: inline; letter-spacing: normal; word-spacing: normal; vertical-align: top; } .grid-c-1,.grid-c-1-2,.grid-c-1-3,.grid-c-2-3,.grid-c-1-4,.grid-c-3-4,.grid-c-1-5,.grid-c-2-5,.grid-c-3-5,.grid-c-4-5,.grid-c-1-6,.grid-c-5-6,.grid-c-1-7,.grid-c-2-7,.grid-c-3-7,.grid-c-4-7,.grid-c-5-7,.grid-c-6-7,.grid-c-1-8,.grid-c-3-8,.grid-c-5-8,.grid-c-7-8,.grid-c-1-9,.grid-c-2-9,.grid-c-4-9,.grid-c-5-9,.grid-c-6-9,.grid-c-7-9,.grid-c-8-9,.grid-c-1-10,.grid-c-3-10,.grid-c-7-10,.grid-c-9-10,.grid-c-1-11,.grid-c-2-11,.grid-c-3-11,.grid-c-4-11,.grid-c-5-11,.grid-c-6-11,.grid-c-7-11,.grid-c-8-11,.grid-c-9-11,.grid-c-10-11,.grid-c-1-12,.grid-c-5-12,.grid-c-7-12,.grid-c-9-12,.grid-c-11-12 { display: inline-block; zoom: 1; *display: inline; letter-spacing: normal; word-spacing: normal; vertical-align: top; } .grid-c-1 { display:block; } .grid-c-1-2 { width: 50%; } .grid-offset-1-2 { margin-left: 50%; } .grid-c-1-3 { width: 33.33333%; } .grid-offset-1-3 { margin-left: 33.33333%; } .grid-c-2-3 { width: 66.66667%; } .grid-offset-2-3 { margin-left: 66.66667%; } .grid-c-1-4 { width: 25%; } .grid-offset-1-4 { margin-left: 25%; } .grid-c-3-4 { width: 75%; } .grid-offset-3-4 { margin-left: 75%; } .grid-c-1-5 { width: 20%; } .grid-offset-1-5 { margin-left: 20%; } .grid-c-2-5 { width: 40%; } .grid-offset-2-5 { margin-left: 40%; } .grid-c-3-5 { width: 60%; } .grid-offset-3-5 { margin-left: 60%; } .grid-c-4-5 { width: 80%; } .grid-offset-4-5 { margin-left: 80%; } .grid-c-1-6 { width: 16.66667%; } .grid-offset-1-6 { margin-left: 16.66667%; } .grid-c-5-6 { width: 83.33333%; } .grid-offset-5-6 { margin-left: 83.33333%; } .grid-c-1-7 { width: 14.28571%; } .grid-offset-1-7 { margin-left: 14.28571%; } .grid-c-2-7 { width: 28.57143%; } .grid-offset-2-7 { margin-left: 28.57143%; } .grid-c-3-7 { width: 42.85714%; } .grid-offset-3-7 { margin-left: 42.85714%; } .grid-c-4-7 { width: 57.14286%; } .grid-offset-4-7 { margin-left: 57.14286%; } .grid-c-5-7 { width: 71.42857%; } .grid-offset-5-7 { margin-left: 71.42857%; } .grid-c-6-7 { width: 85.71429%; } .grid-offset-6-7 { margin-left: 85.71429%; } .grid-c-1-8 { width: 12.5%; } .grid-offset-1-8 { margin-left: 12.5%; } .grid-c-3-8 { width: 37.5%; } .grid-offset-3-8 { margin-left: 37.5%; } .grid-c-5-8 { width: 62.5%; } .grid-offset-5-8 { margin-left: 62.5%; } .grid-c-7-8 { width: 87.5%; } .grid-offset-7-8 { margin-left: 87.5%; } .grid-c-1-9 { width: 11.11111%; } .grid-offset-1-9 { margin-left: 11.11111%; } .grid-c-2-9 { width: 22.22222%; } .grid-offset-2-9 { margin-left: 22.22222%; } .grid-c-4-9 { width: 44.44444%; } .grid-offset-4-9 { margin-left: 44.44444%; } .grid-c-5-9 { width: 55.55556%; } .grid-offset-5-9 { margin-left: 55.55556%; } .grid-c-6-9 { width: 66.66667%; } .grid-offset-6-9 { margin-left: 66.66667%; } .grid-c-7-9 { width: 77.77778%; } .grid-offset-7-9 { margin-left: 77.77778%; } .grid-c-8-9 { width: 88.88889%; } .grid-offset-8-9 { margin-left: 88.88889%; } .grid-c-1-10 { width: 10%; } .grid-offset-1-10 { margin-left: 10%; } .grid-c-3-10 { width: 30%; } .grid-offset-3-10 { margin-left: 30%; } .grid-c-7-10 { width: 70%; } .grid-offset-7-10 { margin-left: 70%; } .grid-c-9-10 { width: 90%; } .grid-offset-9-10 { margin-left: 90%; } .grid-c-1-11 { width: 9.09091%; } .grid-offset-1-11 { margin-left: 9.09091%; } .grid-c-2-11 { width: 18.18182%; } .grid-offset-2-11 { margin-left: 18.18182%; } .grid-c-3-11 { width: 27.27273%; } .grid-offset-3-11 { margin-left: 27.27273%; } .grid-c-4-11 { width: 36.36364%; } .grid-offset-4-11 { margin-left: 36.36364%; } .grid-c-5-11 { width: 45.45455%; } .grid-offset-5-11 { margin-left: 45.45455%; } .grid-c-6-11 { width: 54.54545%; } .grid-offset-6-11 { margin-left: 54.54545%; } .grid-c-7-11 { width: 63.63636%; } .grid-offset-7-11 { margin-left: 63.63636%; } .grid-c-8-11 { width: 72.72727%; } .grid-offset-8-11 { margin-left: 72.72727%; } .grid-c-9-11 { width: 81.81818%; } .grid-offset-9-11 { margin-left: 81.81818%; } .grid-c-10-11 { width: 90.90909%; } .grid-offset-10-11 { margin-left: 90.90909%; } .grid-c-1-12 { width: 8.33333%; } .grid-offset-1-12 { margin-left: 8.33333%; } .grid-c-5-12 { width: 41.66667%; } .grid-offset-5-12 { margin-left: 41.66667%; } .grid-c-7-12 { width: 58.33333%; } .grid-offset-7-12 { margin-left: 58.33333%; } .grid-c-9-12 { width: 75%; } .grid-offset-9-12 { margin-left: 75%; } .grid-c-11-12 { width: 91.66667%; } .grid-offset-11-12 { margin-left: 91.66667%; } .grid-r-responsive { letter-spacing: -0.31em; *letter-spacing: normal; word-spacing: -0.43em; } .grid-r-responsive img { max-width:100%; } @media (min-width:980px) { .grid-visible-phone { display: none; } .grid-visible-tablet { display: none; } .grid-visible-desktop { } .grid-hidden-phone { } .grid-hidden-tablet { } .grid-hidden-desktop { display: none; } } @media (max-width:480px) { .grid-r-responsive > [class ^= "grid-c"] { width:100%; } } @media (max-width:767px) { .grid-r-responsive > [class ^= "grid-c"] { width:100%; } .grid-visible-phone { } .grid-hidden-phone { display: none; } .grid-hidden-desktop { } .grid-visible-desktop { display: none; } } @media (min-width:768px) and (max-width:979px) { .grid-visible-tablet {} .grid-hidden-tablet { display: none; } .grid-hidden-desktop {} .grid-visible-desktop { display: none; } }